name: Test

on:
  push:
    branches:
      - mainx
  pull_request:
    branches:
      - mainx

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'gradle'
          
      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
      - name: Run spring boot tests with Gradle
        run: ./gradlew springBootTest

      - name: Run webmvc tests with Gradle
        run: ./gradlew webmvcTest
