name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      studentControllerTest: ${{ steps.filter.outputs.studentControllerTest }}
      courseControllerTest: ${{ steps.filter.outputs.courseControllerTest }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            studentControllerTest:
              - 'src/test/java/com/abc/jibpilot/student/controller/**'
            courseControllerTest:
              - 'src/test/java/com/abc/jibpilot/course/controller/**'

      - name: Show outputs
        run: |
          echo "studentControllerTest: ${{ steps.filter.outputs.studentControllerTest }}"
          echo "courseControllerTest: ${{ steps.filter.outputs.courseControllerTest }}"
  test:
    runs-on: ubuntu-latest
    needs: detect-changes
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'gradle'

      - name: Run studentControllerTest tests with Gradle
        if: ${{ needs.detect-changes.outputs.studentControllerTest == 'true' }}
        run: ./gradlew studentControllerTest

      - name: Run courseControllerTest tests with Gradle
        if: ${{ needs.detect-changes.outputs.courseControllerTest == 'true' }}
        run: ./gradlew courseControllerTest
