name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  MODULES: 'src/test/java/com/abc/jibpilot/student/controller/StudentControllerTest.java,src/test/java/com/abc/jibpilot/course/controller/CourseControllerTest.java'
jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      changes: ${{ steps.detect-changes.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Detect changes
        id: detect-changes
        uses: cham207388/detect-changes@v1
        with:
          modules: ${{ env.MODULES }}

      - name: Show outputs
        run: |
          echo "changes: ${{ steps.detect-changes.outputs.changes }}"  
  test:
    runs-on: ubuntu-latest
    needs: detect-changes
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'gradle'
          
      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}

      - name: Run studentControllerTest tests with Gradle
        if: ${{ fromJson(needs.detect-changes.outputs.changes)['src/test/java/com/abc/jibpilot/student/controller/StudentControllerTest.java'] }}
        run: ./gradlew studentControllerTest

      - name: Run courseControllerTest tests with Gradle
        if: ${{ fromJson(needs.detect-changes.outputs.changes)['src/test/java/com/abc/jibpilot/course/controller/CourseControllerTest.java'] }}
        run: ./gradlew courseControllerTest
